@model StoreFront.DATA.EF.Models.Product

@{
    ViewData["Title"] = "Add Product";
}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Home</a>
                    <a href="@Url.Action("Index","Products")">Shop</a>
                    <span>@ViewData["Title"]</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<h2 class="text-center py-3">@ViewData["Title"]</h2>

@* <h4>Product</h4>
<hr /> *@


<div class="row mb-3">
    <div class="col-md-6 offset-md-3 text-center">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescript" class="control-label"></label>
                <input asp-for="ProductDescript" class="form-control" />
                <span asp-validation-for="ProductDescript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitsInStock" class="control-label"></label>
                <input asp-for="UnitsInStock" class="form-control" />
                <span asp-validation-for="UnitsInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductStatusId" class="control-label"></label>
                <select asp-for="ProductStatusId" class ="form-control" asp-items="ViewBag.ProductStatusId"></select>
            </div>
            <div class="form-group">
               @*  <label asp-for="ProductImage" class="control-label"></label> *@
                <input type="file" asp-for="Image" class="form-control" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
                <a class="btn btn-secondary" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
