@{
    ViewData["Title"] = "Email Confirmation";
}

@model StoreFront.UI.MVC.Models.ContactViewModel

<section class="product_section gray-section pb-4 pt-4 mb-4">
    <div class="heading_container heading_center">
        <h2>
            Email <span>Confirmation</span>
        </h2>
    </div>
</section>

<div class="row mb-3">
    <div class="col-md-8 offset-md-2">
        <h3 class="alert alert-success">Message Sent!</h3>
        <p>
            Thank you for contacting us! A member of our team will respond to
            your message using the provided email address, @Model.Email, in
            the next 1-3 business days.
        </p>

        <br />

        <div class="offset-3 col-md-6 text-center">
            <p>
                You sent the following message on
                @DateTime.Now.Date.ToShortDateString() at
                @DateTime.Now.ToShortTimeString() :
            </p>
        </div>

        <br />

        <div class="offset-3 col-md-6">
            <p>
                <em>@Model.Message</em>
            </p>
        </div>
    </div>
</div>